<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/jgrow.css" />
    <link rel="stylesheet" href="/js/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/showLoading.css" />
    <link rel="stylesheet" href="/css/style.css" />