<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/jgrow.css" />
    <link rel="stylesheet" href="/js/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/showLoading.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <header id="page-header">
        <div>
            <ul>
                <li> <i class="fa fa-linux" aria-hidden="true">博客后台管理系统</i></li>
                <li> <a href="/"><i class="fa fa-home" aria-hidden="true">主页</i></a></li>
            </ul>
        </div>
    </header>