<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/jgrow.css" />
    <link rel="stylesheet" href="/js/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/showLoading.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link href="/images/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="/js/highlight/styles/monokai-sublime.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/js/bootstrap-select/css/bootstrap-select.min.css" />

</head>
<body>
    <header id="page-header">
        <div>
            <ul>
                <li> <a href="/admin"><i class="fa fa-linux" aria-hidden="true">博客后台管理系统</i></a></li>
                <li> <a href="/"><i class="fa fa-home" aria-hidden="true">主页</i></a></li>
                <% if(user){%>
                    <li> <%= user%><a style="margin-left:10px;" href="/admin/logout"><i class="fa fa-user-circle" aria-hidden="true">下线</i></a></li>
                <%}else{%>
                     <li> <a href="/admin/register"><i class="fa fa-user-circle" aria-hidden="true">登录</i></a></li>
                <%}%>
            </ul>
        </div>
    </header>