<% include header.ejs %>

<div id="admin-box">
    <div id="menu-bar">

    </div>
    <di id="work-view">
        <div class="markdown-view">
            <div contenteditable="true">

            </div>
        </div>
        <div class="code-view">
            <div contenteditable="false">

            </div>
        </div>
    </di>
</div>
</body>
</html>