<% include header.ejs %>

<div id="admin-box">
    <div id="menu-bar">

    </div>
    <di id="work-view">
        <div class="markdown-view">
            <textarea rows="10" cols="20">

            </textarea>
        </div>
        <div class="code-view">
            <div id="code">
                <pre><code class="javascript">console.log(123)</code>
                </pre>
            </div>
        </div>
    </di>
</div>
</body>
<script>hljs.initHighlightingOnLoad();</script>
<script src="/js/require.js"></script>
<script type="text/javascript">
    require(["/js/config.js"], function () {
        require(["/js/app/backend/blog.js"]);
    });
</script>
</html>